[Unit]
Description=Run Telegram alerts every 5 minutes

[Timer]
OnBootSec=60
OnUnitActiveSec=5min
Unit=telegram-alerts.service

[Install]
WantedBy=timers.target
